# The token from a Discord account used for the bot:
# https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
# https://discord.com/developers/applications
# The bot needs the following permissions:
# - "Text Permissions - Send Messages"   (2048)
# https://discord.com/oauth2/authorize?scope=bot&permissions=2048&client_id=YOUR_CLIENT_ID_HERE
DISCORD_TOKEN=""

# A guild is the internal name for a server.
DISCORD_GUILD_ID=""

DISCORD_OUTPUT_CHANNEL_ID=""
